.roundedButton {
    padding: 1.5rem 2.5rem;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #000;
    position: relative;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
}

  
.roundedButton p {
    position: relative;
    font-family: gilroy;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    z-index: 2;
    transition: color 0.4s ease-in;
}
.roundedButton:hover p {
    color: #fff;
}

.circle {
    transform-origin: center;
    position: absolute;
    /* z-index: 2; */
    top: 100%;
    left: 50%;
    width: 100%;
    height: 250px;
    scale: 1;
    border-radius: 50%;
    transform: translateX(-50%);
    background-color: rgb(56, 56, 198);
}