.project {
    width: 80vw;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #dadada;
    cursor: pointer;
    transition: all cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
}
.project:hover {
    opacity: 0.4;
}

.project:last-of-type {
    border-bottom: 2px solid #dadada;
}

.project h1 {
    font-size: 70px;
    font-weight: 300;
}

.project h1,
.project p {
    transition: all cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
}

.project:hover h1 {
    transform: translateX(-20px);
}
.project:hover p {
    transform: translateX(20px);
}